<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org/DTD Mapper 3.0/EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.hilu0318.mapper.Step05">
	
	<select id="selectTotalCount" resultType="int">
	select count(*) from step_05
	</select>
	
	<select id="selectListLimit" resultType="hash">
	select no, data from step_05 order by no desc limit #{start}, #{count}
	</select>
	
</mapper>